* {
    background-color: aliceblue;
    box-sizing: border-box;
}

body{
    background:#b3a5d9;
    color:#6f42c1;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Verdana, san-serif;
    padding:1em;
}