* {
    background-color: aliceblue;
    box-sizing: border-box;
}

body{
    background:#b3a5d9;
    color:2#6f42c1;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Verdana, san-serif;
    padding:1em;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #200064;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 100px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    background-color: #200064;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000000;
    background-color: #b3a5d9;
  }

  .topnav {
    display: flex;
    width: 100%; /* Full-height: remove this if you want "auto" height */
    height: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #200064;
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  .topnav h1 {
    padding: 0px 8px 6px 16px;
    color: #ffffff;
    background-color: #200064;
    font-size: 40px;
  }
  .topnav a {
    padding: 8px 8px 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background-color: #200064;
    text-align: center;
    display: block;
    position: absolute;
    right:0;
  }

  .topnav a:hover {
    color: #000000;
    background-color: #b3a5d9;
  }
  
  /* Style page content */
  .dashboard {
    margin-left: 200px; /* Same as the width of the sidebar */
    margin-top: 100px;
  }

  .classes {
    margin-left: 200px; /* Same as the width of the sidebar */
    margin-top: 100px;
  }

  .students {
    margin-left: 200px; /* Same as the width of the sidebar */
    margin-top: 100px;
  }

  .settings {
    margin-left: 200px; /* Same as the width of the sidebar */
    margin-top: 100px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .topnav {padding-top: 15px;}
    .topnav a {font-size: 12px;}
    .topnav h1{font-size: 24px;}
  }