* {
    background-color: aliceblue;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: #a3f0f0;
}

#sideMenu{
    background: #9665ff;
    max-width: 260px;
}
.nav{
    padding-top: 100px;
}
.a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px, 20px;
    font-weight: 300;

}
.fa{
    color: white;
    font-size: 1.3rem;
    margin-right: 0.8rem;
}