*{
    box-sizing: border-box;
}
body{
    background:#b3a5d9;
    color:#6f42c1;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Verdana, san-serif;
    padding:1em;
}
.container{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
}
ul{
    list-style:none;
    padding:0;
}
.brand{
    text-align:center;
}
.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,0.7)
}
.wrapper > *{
    padding:1em;
}
.company-info{
    background:#6f42c1;
    color:#ffffff;
}
.company-info h3, .company-info ul{
    text-align:center;
    margin: 0 0 1rem 0;
}
.registration{
    background:#ffffff;
}
.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color: white;
    margin-bottom: 10px;
    display: none;
}
/*Form*/
.registration form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.registration form label{
    display:block;
}
.registration form p{
    margin:0;
}
.registration form .full{
    grid-column:1/3;
}
.registration form button, .registration form input, .registration form textarea{
    width:100%;
    padding: 1em;
    border: 1px solid #6f42c1;
}
.registration form button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
}
.registration form button:hover, .registration form button:focus{
    background:#6f42c1;
    color:#ffffff;
    outline:0;
    transition: background-color 2s ease-out;
}
