*{
    box-sizing: border-box;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-header{
    background-color: #fefefe;
    text-decoration-color: #ffffff;
    margin-top: 0;
    padding: 0;
    text-align: center;
}
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .modal-content .forgotpass-email{
    border: none;
    padding: 12px 20px;
    border:2px solid #aaa;
    border-radius: 4px;
    margin: 3%;
  }
  .modal-content .forgotpass-email:hover{
      background-color:#f5f5f5;
  }
  .modal-content button{
      width: 50%;
      padding: 1em;
      background:#c9e6ff;
      text-transform: uppercase;
  }

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
  .hr-text2 {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
    .hr-text:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    .hr-text:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
    }
    .hr-text2:before {
        content: '';
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
      }
      .hr-text2:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
    
        padding: 0 .5em;
        line-height: 1.5em;
        color: #818078;
        background-color: lightgrey;
      }
    a {
        text-align: center;
        margin: auto;
    }
    #login {
        text-align: center;
    }
    #loginbtn {
        color: white;
        background-color: #6f42c1 !important;
    }
    #loginbtn:hover {
        cursor: pointer;
    }

  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /*End Modal */
body{
    background-image: url('../assets/img/webb.png');
    color:#6f42c1;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Verdana, san-serif;
    padding:1em;
}
.container{
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:8%;
    border-radius: 25px;
    padding:1em;
    background-color: lightgrey;
    box-shadow: 3px 5px 9px 0 rgb(0,0,0);
}
ul{
    list-style:none;
    padding:0;
}
.logo{
    width: 180px;
    height: 50px;
    margin-top: 5px;
}

.brand{
    text-align:center;
}
.wrapper{
    
    background-color: white;
}
.wrapper > *{
    padding:1em;
}
.company-info{
    background:#6f42c1;
    color:#ffffff;
}
.company-info h3, .company-info ul{
    text-align:center;
    margin: 0 0 1rem 0;
}
.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color: white;
    margin-bottom: 10px;
    display: none;
}
.registration{
    margin-right: auto;
    width: 100%;
}

.registration form input, .registration form textarea{
    width:100%;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1em;
    border: 1px solid #6f42c1;
    border-radius: 10px;
}
#myBtn, .registration form button{
    width:100%;
    margin-left: auto;
    padding: 1em;
    border: 1px solid #6f42c1;
    border-radius: 25px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 15px;
  }
#myBtn, .registration form button{
    background:#c9e6ff;
    border:0;
    margin-top: 10px;
    text-transform: uppercase;
}
#myBtn:hover, #myBtn:focus, .registration form button:hover, .registration form button:focus{
    background:#6f42c1;
    color:#ffffff;
    border-radius: 25px;
    outline:none;
    cursor: pointer;
    transition: background-color 2s ease-out;
}
input:focus{
    outline:none;
    border-radius: 25px;
}
/*.wrapper form input{
    background:#6f42c1;
    color:#ffffff;
    outline:0;
    transition: background-color 2s ease-out;
}*/

/* Large Screens 
@media(min-width:800px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .registration form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .wrapper > *{
        padding: 2em;
    }
}*/

#failedText{
    color: red;
}
