
html{
  
  background-image: url("../assets/img/prism2.png");
}

.dashboard {
    
  padding-top: 1%;
  margin-left: 2%;
  width: 100%;
  background-color: transparent;
}
#user{
  position: absolute;
  top: 15px;
  right: 15px;
}
body{
  /* background-image: url("../assets/img/prism2.png"); */
    color:#6f42c1;
    line-height:1.6;
    width: 100% !important;
    font-family: 'Segoe UI', Tahoma, Verdana, san-serif;
    padding-right: 1%;
    background-image: url("../assets/img/prism2.png");
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
   /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto !important; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  
}
 .classList {
font-weight: bold;
font-size: 25px;
}
/* Modal Content/Box */
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  margin-bottom: 20px;
}

#hrmodal{
margin-bottom: 10%;
}
select{
  font-size: 30px;
  width:90%;
  margin: 5%;
}
.modal-header{
  margin: 0px;
  background-color: white;
}
.modal-content {
  background-color: white;
  /* background-color: #fefefe; */
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  border-radius: 10px;
  width: 60% !important; /* Could be more or less, depending on screen size */
  align-items: center;
}

.modal-content #saveButtonR {
  background-color: lightgreen;
  border-radius: 20px;
  color: black;
  font-size: 20px; 

  margin-top: 2%;
  padding-top: 1%;
  height: 20px;
  width: 48%;
  box-shadow: 1px 1px grey;
}
.modal-content #cancel {
  background-color: red;
  border-radius: 20px;
  color: black;
  font-size: 20px;

  margin-top: 2%;
  padding-top: 1%;
  height: 20px;
  width: 48%;
  box-shadow: 1px 1px grey;
}
.modal-content .deletebtn {
  background-color: rgb(209, 72, 44)!important;
  border-radius: 20px;
  color: black;
  font-size: 15px;
  margin-left: 2%;
  height: 30px;
  width: 130px;
  box-shadow: 1px 1px grey;
}
.modal-content button:hover {
  cursor: pointer;
  opacity: 70%;
  color: black;
}
/* The Close Button */
.close, .close2, .close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  .topnav {
    display: flex;
    width: 85%; /* Full-height: remove this if you want "auto" height */
    height: 117px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-image: url("../assets/img/memphis-colorful.png");
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 5px 5px 5px grey;
  }
  
  .topnav h1 {
    padding: 50px 0px 0px 20px;
    /*    color: #6f42c1; */
    color: black;
    text-shadow: #000000;
    font-style: italic;
    background-color: transparent;
    font-size: 30px;
    text-shadow: -1px 1px 2px #6f42c1
    1px 1px 2px #6f42c1,
    1px -1px 0 #6f42c1,
    -1px -1px 0 #6f42c1;
  }
.topnav button{
    padding: 8px 8px 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    position: absolute;
    right:10px;;
    bottom: 10px;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    border-radius: 25px;
  }
  .topnav a:hover {
    color: #fff;
    /* background-color: #b3a5d9; */
  }
  .user{
    background-color: black !important;
  }
  /*-----------------------------------------------------*/
  #linu{ /*Top button with account name*/

    font-family: 'Segoe UI', Tahoma, Verdana, san-serif;
    padding-right: 10px;
    text-transform: lowercase;
  }

  button{
    display: inline-block;
    width:30%;
    padding: 1.5em;
    border: 1px solid #6f42c1;
    border-radius: 5px;
    background:#c9e6ff;
    
    border-color: black;
    margin-top: 10px;
    margin-right: 10px;
   text-transform: uppercase;
   font-size: 16px;
  }
  #myBtn {
    display: inline-block;
    width:60%;
    margin-left: px;
    padding: 1.5em;
    border: 1px solid #6f42c1;
    background:#c9e6ff;
    
    border-color: black;
    margin-top: 10px;
   padding-right:110px;
  text-transform: uppercase;
  
  }
  #myBtn:hover, #myBtn:focus, #myBtn:active, .dashboard button:hover {
    background:#6f42c1;
    color:#ffffff;
    outline:0;
  
    align-content: left;
    transition: background-color 2s ease-out;
  }

  table {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    border-collapse: collapse;
    max-width: 90%;
  }

  input {
      width: 30%;
      background-color: #bdbdbd;
      border: 1px solid #000000;
      margin-top: 18px;
  }

  th {
    border: 2px solid #000000;
    font-size: 18px;
    color: #4266cb;
    /* background-color: #6f42c1; */
  }

  tr {
    border: 2px solid #000000;
    background-color: #bdbdbd;
  }

  td {
    border: 2px solid #000000;
    background-color: #bdbdbd;
    font-size: 18px;
    color: black;
    padding: 15px;
  }
  a.active{
    background:#6f42c1;
    color:#ffffff;
  }

  .sidenav a:hover, .sidenav a:focus, .sidenav a:active {
    color: #000000;
    background-color: #b3a5d9;
    cursor: pointer;
  }

  .reportChart td:hover {background-color: #7a7a7a;}
  .reportChart tr:nth-child(2) {background: #f2f2f2;}

  .bold-green-font {
    font-weight: bold;
    color: green;
  }

  .bold-font {
    font-weight: bold;
  }

  .right-text {
    text-align: right;
  }

  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: darkblue;
  }

  .italic-purple-font {
    font-style: italic;
    color: purple;
  }

  .underline-blue-font {
    text-decoration: underline;
    color: blue;
  }

  .gold-border {
    border: 3px solid gold;
  }

  .deeppink-border {
    border: 3px solid deeppink;
  }

  .orange-background {
    background-color: orange;
  }

  .orchid-background {
    background-color: orchid;
  }

  .beige-background {
    background-color: beige;
  }

 
